/* Inclure le padding et la bordure dans la largeur et la hauteur totales d’un élément */
* {
  box-sizing: border-box;
}



/* Retirer les marges et le padding de la liste */
ul {
  margin: 0;
  padding: 0;
}



/* Liste des articles */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;


  /* Rendre les éléments de la liste pas selectionée */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Régler tous les articles de liste impairs à une couleur différente (zébré-rayures) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}



/* Couleur de fond plus sombre sur vol plané */
ul li:hover {
  background: #ffa000;
}



/* En cliquant sur, ajoutez une couleur de fond et rayez le texte */
ul li.checked {
  background: #888; /* élément déja coché */
  color: #fff; /* Ecriture */
  text-decoration: line-through;
}



/* Ajouter une marque "cochée" en cliquant sur */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}



/* Le boutton */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}



.close:hover {
  background-color: #f44336;
  color: white;
}



/* Style the header */
.header {
  background-color: #1a237e;
  padding: 30px 40px;
  color: white;
  text-align: center;
}



/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 60%;
  padding: 10px;
  float: left;
  font-size: 16px;
}



/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: #555; /* Ecriture */
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}



.addBtn:hover {
  background-color: #bbb; /*Boutton */
}


.suppBtn {
  padding: 10px;
  width: 20%;
  background: #bdbdbd;
  color: #555; /* Ecriture */
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
